
<navbar style="position: absolute; z-index: 7; width:100%;" ></navbar>
<body>

	<div class="home">
			<video class="video-slide active" src="assets/vid.mp4" autoplay="autoplay" [muted]="'muted'" ></video>
		</div>
		<div class="container">

           

			<div class="container-first"  id="containerFirst">
					<h1 ><span id="phrase">le bonheur </span><span id="phrase1">qui  </span><span id="phrase2">vous  </span><span id="phrase3">unit </span></h1>
					<div class="container-btns">
							<button class="btn-first "routerLink="/decouvrir" routerLinkActive="active"  id="btn1" >Découvrir</button>
							<button class="btn-first " id="btn2" routerLink="/connexion" routerLinkActive="active">Se connecter</button>
					</div>
			</div>




			<ul class="medias" id="medias">
					<li class="bulle"><img src="assets/fb.jpg" class="logo-medias"></li>
					<li class="bulle"><img src="assets/insta.jpg" class="logo-medias"></li>
					<li class="bulle"><img src="assets/snap.jpg" class="logo-medias"></li>
					<li class="bulle"><img src="assets/tik.jpg" class="logo-medias"></li>
			</ul>

	</div>


						

				

	</body>