<!DOCTYPE html>
<html>
  <head>
    <title>Titre du document</title>
  <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
  </head>

<body>

<navbar></navbar>
    <div id="navPage">

    <h1> Votre Panier </h1>



    </div>

  <table border>
    <thead>
      <tr>
        <th> # </th>
        <th> Dénomination </th>
        <th> Prix HT </th>
        <th> TVA </th>
        <th> Prix TTC </th>
        <th> Supprimer </th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let robe of mariageDto.robes">
        <td>  </td>
        <td> Robe de mariée {{robe.model}} - {{robe.taille}} </td>
        <td> {{robe.prixRobe}} €</td>
        <td> 20% </td>
        <td> {{robe.prixRobe * 1.2}} €</td>
        <td>
          <button (click)="removeRobe(robe)" type="button">Supprimer</button>
        </td>
      </tr>

      <tr *ngFor="let cake of mariageDto.cakes">
        <td>  </td>
        <td> {{cake.design}} - {{cake.genoise}} </td>
        <td> {{cake.prixCake}} €</td>
        <td> 20% </td>
        <td> {{cake.prixCake * 1.2}} €</td>
        <td>
          <button type="button">Supprimer</button>
        </td>
      </tr>

      <tr *ngFor="let salle of mariageDto.salles">
        <td>  </td>
        <td> Salle {{salle.nom}} - {{salle.capacite}} personnes </td>
        <td> {{salle.prixSalle}} €</td>
        <td> 20% </td>
        <td> {{salle.prixSalle * 1.2}} € </td>
        <td>
          <button type="button">Supprimer</button>
        </td>
      </tr>

    </tbody>

      <tfoot>
        <td> <div class="prixTotal"> # </div> </td>
        <td> <div class="prixTotal"> Total: </div> </td>
        <td> <div class="prixTotal"> 2200 € </div> </td>
        <td> <div class="prixTotal"> 20% </div> </td>
        <td> <div class="prixTotal">  </div> </td>
        <td colspan="4"> </td>
      </tfoot>

  </table>

</body>

</html>
