<!DOCTYPE html>
<html>
  <head>
    <title>Titre du document</title>
  <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
  </head>

<body>

<navbar></navbar>
    <div id="navPage">
  
    <h1> Votre Panier </h1>
     Panier de Monsieur et Madame: <i>{{nom | uppercase}} </i><br/>
     Thème du mariage: <i>{{theme | uppercase}}</i>
     
    </div>
    <br/>
    <br/>

  <table border>
    <thead>
      <tr>
        <th> # </th>
        <th> Dénomination </th>
        <th> Prix HT </th>
        <th> TVA </th>
        <th> Prix TTC </th>
        <th> Supprimer </th>
      </tr>
    </thead>

    <tbody>



      <tr *ngFor="let robe of mariageDto.robes let index = index"> 
        <td> {{index+1}} </td>
        <td> Robe de mariée {{robe.model}} - {{robe.taille}} </td>
        <td> {{robe.prixRobe}} €</td>
        <td> 20% </td>
        <td> {{robe.prixRobe * 1.2}} €</td>
        <td>
          <button (click)="removeRobe(robe)" type="button">Supprimer</button>
        </td>
      </tr>

      <tr *ngFor="let cake of mariageDto.cakes let index = index">
        <td> {{ mariageDto.robes.length + index+1}} </td>
        <td> {{cake.design}} - {{cake.genoise}} - [{{cake.nombreInvite}}] personnes </td>
        <td> {{cake.prixCake}} €</td>
        <td> 20% </td>
        <td> {{cake.prixCake * 1.2}} €</td>
        <td>
          <button (click)="removeCake(cake)" type="button">Supprimer</button>
        </td>
      </tr>

      <tr *ngFor="let salle of mariageDto.salles let index = index">
        <td> {{mariageDto.robes.length + mariageDto.cakes.length + index+1}} </td>
        <td> Salle {{salle.nom}} - {{salle.capacite}} personnes </td>
        <td> {{salle.prixSalle}} €</td>
        <td> 20% </td>
        <td> {{salle.prixSalle * 1.2}} € </td>
        <td>
          <button (click)="removeSalle(salle)" type="button">Supprimer</button>
        </td>
      </tr>

      <tr *ngFor="let traiteur of mariageDto.traiteurs let index = index">
        <td> {{mariageDto.traiteurs.length + mariageDto.traiteurs.length + index+1}} </td>
        <td> Traiteur menu - {{traiteur.cuisine}} </td>
        <td> {{traiteur.prixTraiteur}} €</td>
        <td> 20% </td>
        <td> {{traiteur.prixTraiteur * 1.2}} € </td>
        <td>
          <button (click)="removeTraiteur(traiteur)" type="button">Supprimer</button>
        </td>
      </tr>

    </tbody>
           
      <tfoot>
        <td> <div class="prixTotal"> # </div> </td>
        <td> <div class="prixTotal"> Totaux: </div> </td>
        <td> <div class="prixTotal"> {{ total }} € </div> </td>
        <td> <div class="prixTotal"> 20% </div> </td>
        <td> <div class="prixTotal"> {{ total * 1.2}} € </div> </td>
        <td colspan="4"> </td>
      </tfoot>

  </table>


</body>
<app-footer></app-footer>
</html>
