
<body id="page3">
  <navbar></navbar>
<!--==============================header=================================-->
<header>
  
  <div class="row-bot">
    <div class="row-bot-bg">
      <div class="main">
        <h2>Selection impressive <span>a l'occasion de votre marriage</span></h2>
      </div>
    </div>
  </div>
</header>
<!--==============================content================================-->
<meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>

<body>

 
    <h1> Nos spécialités</h1>

<div id="choix">
  <div class="coll">
      <img src="assets/images/lovely.jpeg" class="cardimgtop" alt="...">
      <div class="cardbody">
        <p> <b>Lovely</b> <br/> LE DÎNER DE MENU LOVELY :<p>
          <p>Entrée + Plat chaud + Sélection fromagère</p>

        </div>
       
          <div class="hide" *ngIf="isShowInfo110"> <p> Votre article a été ajouté au panier ! </p> </div> 
        <div *ngIf="!isShowInfo110" class="cardQT">
        <p>Cuisine :
          <select  [(ngModel)]="cuisineLovely" class="cuisine">
            <optgroup label="Selectionner votre nombre d'invités"></optgroup>
            <option value="Lovely">10-30 personnes </option>
            <option value="Lovely">31-60 personnes </option>
            <option value="Lovely">61-100 personnes</option>
            <option value="Lovely"> > 100 personnes </option>
          </select>
        </p>
            <label   class="vin">Vin d'honneur</label>
            <div >
              <div >
                <input class="vin" [ngModel]="vinDHonneur" id="choix-ouiZ" value="oui" checked name="choix1" type="radio">
                <label  >Oui</label>
              </div>
              <div >
                <input class="vin" [ngModel]="vinDHonneur" id="choix-nonY" value="non" checked name="choix1" type="radio">
                <label  >Non</label>
              </div>

              <div class="no-size2" *ngIf="isSizeError110">Veuillez choisir une spécialité</div>
            </div>
            <button (click)="Lovely()"  type="button">Ajouter au panier</button>

          </div>
        
        </div>
    

      <div class="coll">
          <img src="assets/images/noces.jpeg" class="cardimgtop" alt="...">
          <div class="cardbody">
            <p> <b>Jolies Noces</b> <br/> LE DÎNER MENU LES JOLIES NOCES :<p>
              <p>Entrée + Apéritif + Plat + Fromage </p>

            </div>
            <div class="hide" *ngIf="isShowInfo111"> <p> Votre article a été ajouté au panier ! </p> </div> 
            <div *ngIf="!isShowInfo111" class="cardQT">
              
              <p>Cuisine :
                <select  [(ngModel)]="cuisinejoliesnoces" class="cuisine">
                  <optgroup label="Selectionner votre nombre d'invités"></optgroup>
                  <option value="Jolies noces">10-30 personnes</option>
                  <option value="Jolies noces">31-60 personnes</option>
                  <option value="Jolies noces">61-100 personnes</option>
                  <option value="Jolies noces"> > 100 personnes</option>
                </select>
              </p>

                <label   class="vin">Vin d'honneur</label>
                <div >
                  <div >
                    <input class="vin" [ngModel]="vinDHonneur" id="choix-ouiA" value="oui" checked name="choix2" type="radio">
                    <label  >Oui</label>
                  </div>
                  <div >
                    <input class="vin" [ngModel]="vinDHonneur" id="choix-nonB" value="non" checked name="choix2" type="radio">
                    <label  >Non</label>
                  </div>

                  <div class="no-size" *ngIf="isSizeError111">Veuillez choisir une spécialité</div>
                </div>
                <button (click)="joliesnoces()"  type="button">Ajouter au panier</button>

              </div>
              
            </div>
          

          <div class="coll">
     
              <img src="assets/images/inspiration.jpeg" class="cardimgtop" alt="...">
              <div class="cardbody">
                <p> <b>Inspiration</b> <br/> LE DÎNER MENU INSPIRATION : <p>
                  <p>Entrées + Plats + Fromages + Desserts</p>

                </div>
                <div class="hide" *ngIf="isShowInfo112"> <p> Votre article a été ajouté au panier ! </p> </div> 
                <div *ngIf="!isShowInfo112" class="cardQT">                  
              
                  <p>Cuisine :
                    <select  [(ngModel)]="cuisineinspiration" class="cuisine">
                      <optgroup label="Selectionner votre nombre d'invités"></optgroup>
                      <option value="Inspiration">10-30 personnes</option>
                      <option value="Inspiration">31-60 personnes</option>
                      <option value="Inspiration">61-100 personnes</option>
                      <option value="Inspiration"> > 100 personnes</option>
                    </select>
                  </p>
                    <label   class="vin">Vin d'honneur</label>
                    <div >
                      <div >
                        <input  class="vin" [ngModel]="vinDHonneur" id="choix-ouiC" value="oui" checked name="choix3" type="radio">
                        <label >Oui</label>
                      </div>
                      <div >
                        <input class="vin"  [ngModel]="vinDHonneur" id="choix-nonD" value="non" checked name="choix3" type="radio">
                        <label >Non</label>
                      </div>

                      <div class="no-size" *ngIf="isSizeError112">Veuillez choisir une spécialité</div>
                    </div>
                    <button (click)="inspiration()" type="button">Ajouter au panier</button>


                  </div>
                 
                </div>
              </div>

              <div id="choix1">
              <div class="coll">
               
                  <img src="assets/images/decontract.jpeg" class="cardimgtop" alt="...">
                  <div class="cardbody">
                    <p> <b>Decontract</b> <br/> LE DÎNER DECONTRACT :<p>
                      <p>Plats + Fromages + Desserts</p>

                    </div>
                    <div class="hide" *ngIf="isShowInfo113"> <p> Votre article a été ajouté au panier ! </p> </div> 
                    <div *ngIf="!isShowInfo113" class="cardQT">                      
                  
                      <p>Cuisine :
                        <select  [(ngModel)]="cuisinedecontract" class="cuisine">
                          <optgroup label="Selectionner votre nombre d'invités"></optgroup>
                          <option value="Decontract">10-30 personnes</option>
                          <option value="Decontract">31-60 personnes</option>
                          <option value="Decontract">61-100 personnes</option>
                          <option value=" Decontract "> > 100 personnes</option>
                        </select>
                      </p>

                        <label   class="vin">Vin d'honneur</label>
                        <div >
                          <div >
                            <input  class="vin" [ngModel]="vinDHonneur" id="choix-ouiE" value="oui" checked name="choix4" type="radio">
                            <label  >Oui</label>
                          </div>
                          <div >
                            <input  class="vin"  [ngModel]="vinDHonneur" id="choix-nonF" value="non" checked name="choix4" type="radio">
                            <label >Non</label>
                          </div>
                          <div class="no-size" *ngIf="isSizeError113">Veuillez choisir une spécialité</div>
                        </div>
                        <button (click)="decontract()"  type="button">Ajouter au panier</button>

                      </div>
                      
                    </div>
                 
       

         
              <div class="coll">
             
                  <img src="assets/images/garden.jpeg" class="cardimgtop" alt="...">
                  <div class="cardbody">
                    <p> <b>Garden Party</b> <br/> LE DÎNER MENU LA GARDEN PARTY : <p>
                      <p> BBQ + Viandes + Poissons + Dessert</p>
                    </div>
                    <div class="hide" *ngIf="isShowInfo114"> <p> Votre article a été ajouté au panier ! </p> </div> 
                    <div *ngIf="!isShowInfo114" class="cardQT">                      
                      
                      <p>Cuisine :
                        <select  [(ngModel)]="cuisinegardenparty" class="cuisine">
                          <optgroup label="Selectionner votre nombre d'invités"></optgroup>
                          <option value="Garden Party">10-30 personnes</option>
                          <option value="Garden Party">31-60 personnes</option>
                          <option value="Garden Party">61-100 personnes</option>
                          <option value="Garden Party"> > 100 personnes</option>
                        </select>
                      </p>

 <label   class="vin">Vin d'honneur</label>
            <div >
              <div >
                <input class="vin" [ngModel]="vinDHonneur" id="choix-ouiG" value="oui" checked name="choix5" type="radio">
                <label  >Oui</label>
              </div>
              <div >
                <input class="vin"  [ngModel]="vinDHonneur" id="choix-nonH" value="non" checked name="choix5" type="radio">
                <label >Non</label>
              </div>
              <div class="no-size" *ngIf="isSizeError114">Veuillez choisir une spécialité</div>
            </div>
                        <button (click)="gardenparty()"  type="button">Ajouter au panier</button>

                      </div>
                      
                    </div>
                 

                          <div class="coll">
                              <img src="assets/images/chic.jpeg" class="cardimgtop" alt="...">
                              <div class="cardbody">
                                <p> <b>Chic Champete</b> <br/> LE DÎNER MENU  CHIC & CHAMPÊTRE :<p>
                                  <p>Cocktail Apéritif + Elplancha de la mer + tartelette au citron</p>


                                </div>
                                <div class="hide" *ngIf="isShowInfo115"> <p> Votre article a été ajouté au panier ! </p> </div> 
                                <div *ngIf="!isShowInfo115" class="cardQT">     
                                                          
                                    <p>Cuisine :
                                    <select  [(ngModel)]="cuisinechichampete" class="cuisine">
                                      <optgroup label="Selectionner votre nombre d'invités"></optgroup>
                                      <option value="Chic Champete">10-30 personnes</option>
                                      <option value="Chic Champete">31-60 personnes </option>
                                      <option value="Chic Champete">61-100 personnes </option>
                                      <option value="Chic Champete"> > 100 personnes</option>
                                    </select>
                                  </p>
 <label   class="vin">Vin d'honneur</label>
            <div >
              <div >
                <input class="vin" [ngModel]="vinDHonneur" id="choix-ouiI" value="oui" checked name="choix6" type="radio">
                <label >Oui</label>
              </div>
              <div >
                <input class="vin" [ngModel]="vinDHonneur" id="choix-nonJ" value="non" checked name="choix6" type="radio">
                <label  >Non</label>
              </div>
              <div class="no-size" *ngIf="isSizeError115">Veuillez choisir une spécialité</div>
            </div>
                                    <button (click)="chichampete()"  type="button">Ajouter au panier</button>

                                  </div>
                                </div>
                              </div>
<!--==============================footer=================================-->

<div>
  <app-footer>
  
  </app-footer>
  </div>