footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #fff;
    background-color: #131010;
    border: 0.5px solid;
    border-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}


a {
  text-decoration:none;
  font-family: 'Alex Brush';
  color: #f1b5b8;
  font-size: 25px;
  display: inline;
  position: relative;
}
