<!DOCTYPE html>
<html>
<head>

  
    <title>Cake</title>
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">
   
 </head>

 <navbar> </navbar>
<body>
    <img src="assets/designcake.png" >
    <img src="assets/design2.png" >
</body>


 
  <div class=" u-clearfix u-image u-shading u-section-1" >
      <div class="u-clearfix">
        <div class="u-custom-color-2 u-form u-form-1">
          <div  style="padding: 25px;" >
            <div class=" u-form-select ">
              <h4 class="u-custom-font u-font-lobster">  Votre gâteau personnalisé en toute occasion<p></p> Nous travaillons sur commande et réalisons votre gâteau sur mesure <p></p>dans notre atelier de pâtisserie.</h4>
              <label  class="u-custom-font u-font-lobster u-label u-label-2">Nombre d'invités - Tarifs</label>
              <div class="u-form-select-wrapper">
                <select  [(ngModel)]="nombreInvite" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                  <optgroup label="Selectionner votre nombre d'invités"></optgroup>
                  <option value="10-30">10-30 personnes / 180€</option>
                  <option value="31-60">31-60 personnes / 320€</option>
                  <option value="61-100">61-100 personnes / 500€</option>
                  <option value=" >100 "> > 100 personnes / 750€</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1"  x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" >
                  <polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
              <div class=" u-form-select ">
                <label  class="u-custom-font u-font-lobster u-label u-label-2">design</label>
                <div class="u-form-select-wrapper">
                  <select [(ngModel)]="design"  class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                  <option selected >Selectionner un design</option>
                  <option value="Caramel cake" >Caramel cake </option>
                  <option value="Mango cake" >Mango cake </option>
                  <option value="Rafaello cake" >Rafaello cake </option>
                  <option value="Flower cake" >Flower cake </option>
                  <option value="Coffe cake" >Coffe cake </option>
                  <option value="Art cake">Art cake </option>
                  <option value="Soft cake" >Soft cake </option>
                  <option value="Love cake" >Love cake </option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1"  x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" >
                  <polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class=" u-form-select ">
              <label  class="u-custom-font u-font-lobster u-label u-label-2">Génoise</label>
              <div class="u-form-select-wrapper">
                <select  [(ngModel)]="genoise"  class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                  <option selected  >Selectionner une génoise</option>
                  <option value="Red Velvet" >Red Velvet</option>
                  <option value="Moelleux chocolat" >Moelleux chocolat</option>
                  <option value="Moelleux caramel" >Moelleux caramel</option>
                  <option value="Moelleux citron" >Moelleux citron</option>
                  <option value="Moelleux vanille" >Moelleux vanille</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1"  x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" >
                  <polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>

            </div>
            <div class=" u-form-select ">
              <label  class="u-custom-font u-font-lobster u-label u-label-4">Crèmes légères meringuées</label>
              <div class="u-form-select-wrapper">
                <select [(ngModel)]="cremes" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                  <option selected >Selectionner une créme</option>
                  <option value="Vanille" >Vanille</option>
                  <option value="Fruit (selon la saison)" >Fruit (selon la saison)</option>
                  <option value="Cacao" >Cacao</option>
                  <option value="Caramel" >Caramel</option>
                  <option value="Caramel beurre salé">Caramel beurre salé</option>
                  <option value="Confiture de lait">Confiture de lait</option>
                  <option value="Praliné" >Praliné</option>
                  <option value="Nougat" >Nougat</option>
                  <option value="Oréo" >Oréo</option>
                  <option value="Nutella (retravaillé)" >Nutella (retravaillé)</option>
                  <option value="Fleurs (violette, coquelicot, rose...)" >Fleurs (violette, coquelicot, rose...)</option>
                  <option value="Tiramisu" >Tiramisu</option>
                  <option value="Bombon (barbapapa, pomme d'amour, bubble gum, réglisse)" >Bombon (barbapapa, pomme d'amour, bubble gum, réglisse)</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1"  x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" >
                  <polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class=" u-form-select">
              <label class="u-custom-font u-font-lobster u-label u-label-5">Ganaches</label>
              <div class="u-form-select-wrapper">
                <select [(ngModel)]="ganaches" class="u-border-1 u-input u-input-rectangle">
                  <option selected >Selectionner un ganache</option>
                  <option value="Chocolat Noir" >Chocolat Noir</option>
                  <option value="Chocolat au Lait" >Chocolat au Lait</option>
                  <option value="Chocolat Blanc" >Chocolat Blanc</option>
                  <option value="Kinder" >Kinder</option>
                  <option value="Menthe" >Menthe</option>
                  <option value="Pistache" >Pistache</option>
                  <option value="Carambar" >Carambar</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1"  x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" >
                  <polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div>
              <label   class="u-custom-font u-font-lobster u-label u-label-7">Alcoolisées</label>
              <div >
                <div >
                  <input [(ngModel)]="alcoolisee" id="choix-oui" value="oui" checked name="choix" type="radio">
                  <label class="u-custom-font u-font-lobster u-label u-label-8" >Oui</label>
                </div>
                <div >
                  <input  [(ngModel)]="alcoolisee" id="choix-non" value="non" checked name="choix" type="radio">
                  <label class="u-custom-font u-font-lobster u-label u-label-9" >Non</label>
                </div>
              </div>
        
            <div >
              <button (click)="reservercake()"href="/cake" class="u-btn u-custom-font u-font-lobster u-button-style u-palette-2-light-2">Ajouter au panier</button>
            </div>
      </div>
    </div>
  
      