<link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>

<nav>
    <div id="logo"> 
        <img src="assets/Marry-Me.png"> 
    </div>
        <ul id="menu">
            <li><a (click)="passagerobe()">Robe</a></li>
            <li><a (click)="passagecake()">Cake</a></li>
            <li><a (click)="passagesalle()">Salle</a></li>
            <li><a (click)="passagetraiteur()">Traiteur</a></li>
            <li><a (click)="passagepanier()">Panier</a></li>
            <li *ngIf="!utilisateurc"><a (click)="passageconnexion()">Connexion</a></li>
            <li *ngIf="utilisateurc"><a  (click)="passageaccueil()">Deconnexion</a></li>
        </ul>
</nav>

