<body>
	<navbar></navbar>

	<div class="fh5co-loader"></div>
	<div id="page">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Location de salle de mariage</h2>
					<p>Trouvez la salle idéale pour votre mariage.</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md"> 
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-1.jpg) ; ">
						<a href="assets/images/gallery-1.jpg">
							<div class="case-studies-summary">
								<span>Paris - 15eme (75015)</span>
								<h2>La palmeraie</h2>
							</div>
						</a>
<h3>  Salle de réception d'une superficie de 1700 m² et pouvant réceptionner jusqu'à 1200 personnes   </h3>
<h4>Prix: Dès 6000£</h4>
<button (click)="Lapalmeraie()" type="button">Ajouter au panier</button>


					</li>
				
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-2.jpg); ">
						<a href="#" class="color-2">
							<div class="case-studies-summary">
								<span>Beichac-et-Caillou (Gironde-33750)</span>
								<h2>Domaine de la Grave </h2>
							</div>
						</a>
						<h3>  Salle de réception d'une superficie de 2000 m² et pouvant réceptionner jusqu'à 1500 personnes   </h3>
						<h4>Prix: Dès 3500£</h4>
						<button (click)="DomainedelaGrave()" type="button">Ajouter au panier</button>
					</li>


					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-3.jpg); ">
						<a href="#" class="color-3">
							<div class="case-studies-summary">
								<span>Saintes-Maries-de-la-Mer (13460)</span>
								<h2> Domaine Le Sauvage	</h2>
							</div>
						</a>
						<h3>  Salle de réception d'une superficie de 1930 m² et pouvant réceptionner jusqu'à 1600 personnes   </h3>
						<h4>Prix: Dès 4500£</h4>
						<button (click)="DomaineLeSauvage()" type="button">Ajouter au panier</button>
					</li>

					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-4.jpg); ">
						<a href="#" class="color-4">
							<div class="case-studies-summary">
								<span>Ferme à Crépy-en-Valois  (60800)</span>
								<h2>La Croisée des Possibles</h2>
							</div>
						</a>
						<h3>  Salle de réception d'une superficie de 1300 m² et pouvant réceptionner jusqu'à 1200 personnes   </h3>
						<h4>Prix: Dès 3000£</h4>
						<button (click)="LaCroiseedesPossibles()" type="button">Ajouter au panier</button>
					</li>
					

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-5.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>Château à Beaujeu (69430)</span>
									<h2>Domaine de Vavril </h2>
								</div>
							</a>
							<h3>  Salle de réception d'une superficie de 190 m² et pouvant réceptionner jusqu'à 450 personnes   </h3>
							<h4>Prix: Dès 4000£</h4>
							<button (click)="DomainedeVavril()" type="button">Ajouter au panier</button>

						</li>
					

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(assets/images/gallery-6.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>Vaulx-en-Velin (69120)</span>
									<h2>Le Pavillon de la Soie </h2>
								</div>
							</a>
							<h3>  Salle de réception d'une superficie de 900 m² et pouvant réceptionner jusqu'à 690 personnes   </h3>
							<h4>Prix: Dès 5000£</h4>
							<button (click)="LePavillondelaSoie()" type="button">Ajouter au panier</button>
							
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	

	</body>


