
<!DOCTYPE html>
<html lang=fr dir="ltr">
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>

  <title>Capture</title>
</head>
<body>

  <navbar> </navbar>
  

    <h1> Nos robes de mariée</h1>

<div id="choix">
  <div class="coll">
    <div>
      <img src="assets/robe1.png" class="cardimgtop" alt="...">
      <div class="cardbody">
        <p> <b>Elsa</b> <br/> Robe de mariée coupe princesse <p>
        </div>
        <div class="hide" *ngIf="isShowInfo"> <p> Votre article a été ajouté au panier ! </p> </div> 
        <div *ngIf="!isShowInfo" class="cardQT">
          <p>Taille :
            <select [(ngModel)]="tailleElsa">
            <option> Small </option>
            <option selected> Medium </option>
            <option> Large </option>
            </select>

            <button (click)="elsa()" (click)='isShowInfo = !isShowInfo' type="button">Ajouter au panier</button></p>
            
          </div>
          <div class="cardfooter">
            <p>Prix total: 2000 €</p>
          </div>
        </div>
      </div>

      <div class="coll">
        <div>
          <img src="assets/robe2.png" class="cardimgtop" alt="...">
          <div class="cardbody">
            <p> <b>Esmeralda</b> <br/> Robe de mariée coupe princesse <p>
            </div>
            <div class="hide" *ngIf="isShowInfo2"> <p> Votre article a été ajouté au panier ! </p> </div> 
            <div *ngIf="!isShowInfo2" class="cardQT">
              <p>Taille :
                <select [(ngModel)]="tailleEsmeralda">
                <option> Small </option>
                <option selected> Medium </option>
                  <option> Large </option>
                </select>

                <button (click)="esmeralda()" (click)='isShowInfo2 = !isShowInfo2' type="button">Ajouter au panier</button></p>

              </div>
              <div class="cardfooter">
                <p>Prix total: 3500 €</p>
              </div>
            </div>
          </div>

          <div class="coll">
            <div>
              <img src="assets/robe3.png" class="cardimgtop" alt="...">
              <div class="cardbody">
                <p> <b>Beauté</b> <br/> Robe de mariée coupe princesse <p>
                </div>
                <div class="hide" *ngIf="isShowInfo3"> <p> Votre article a été ajouté au panier ! </p> </div> 
                <div *ngIf="!isShowInfo3" class="cardQT">
                  <p>Taille :
                    <select [(ngModel)]="tailleBeaute">
                    <option> Small </option>
                    <option selected> Medium </option>
                      <option> Large </option>
                    </select>

                    <button (click)="beaute()" (click)='isShowInfo3 = !isShowInfo3' type="button">Ajouter au panier</button></p>

                  </div>
                  <div class="cardfooter">
                    <p>Prix total: 3500 €</p>
                  </div>
                </div>
              </div>

              <div class="coll">
                <div>
                  <img src="assets/robe4.png" class="cardimgtop" alt="...">
                  <div class="cardbody">
                    <p> <b>Dona</b> <br/> Robe de mariée fluide <p>
                    </div>
                    <div class="hide" *ngIf="isShowInfo4"> <p> Votre article a été ajouté au panier ! </p> </div> 
                    <div *ngIf="!isShowInfo4" class="cardQT">
                      <p>Taille :
                        <select [(ngModel)]="tailleDona">
                        <option> Small </option>
                        <option selected> Medium </option>
                          <option> Large </option>
                        </select>

                        <button (click)="dona()" (click)='isShowInfo4 = !isShowInfo4' type="button">Ajouter au panier</button></p>

                      </div>
                      <div class="cardfooter">
                        <p>Prix total: 1500 €</p>
                      </div>
                    </div>
                  </div>

            </div>

            <div id="choix2">
              <div class="coll">
                <div>
                  <img src="assets/robe5.png" class="cardimgtop" alt="...">
                  <div class="cardbody">
                    <p> <b>Deborah</b> <br/> Robe de mariée ajustée et évasée <p>
                    </div>
                    <div class="hide" *ngIf="isShowInfo5"> <p> Votre article a été ajouté au panier ! </p> </div> 
                    <div *ngIf="!isShowInfo5" class="cardQT">
                      <p>Taille :
                        <select [(ngModel)]="tailleDeborah">
                        <option> Small </option>
                        <option selected> Medium </option>
                          <option> Large </option>
                        </select>

                        <button (click)="deborah()" (click)='isShowInfo5 = !isShowInfo5' type="button">Ajouter au panier</button></p>

                      </div>
                      <div class="cardfooter">
                        <p>Prix total: 3456 €</p>
                      </div>
                    </div>
                  </div>

                  <div class="coll">
                    <div>
                      <img src="assets/robe6.png" class="cardimgtop" alt="...">
                      <div class="cardbody">
                        <p> <b>Delta</b> <br/> Robe de mariée coupe Bohème  <p>
                        </div>
                        <div class="hide" *ngIf="isShowInfo6"> <p> Votre article a été ajouté au panier ! </p> </div> 
                        <div *ngIf="!isShowInfo6" class="cardQT">
                          <p>Taille :
                            <select [(ngModel)]="tailleDelta">
                            <option> Small </option>
                            <option selected> Medium </option>
                              <option> Large </option>
                            </select>

                            <button (click)="delta()" (click)='isShowInfo6 = !isShowInfo6' type="button">Ajouter au panier</button></p>

                          </div>
                          <div class="cardfooter">
                            <p>Prix total: 1234 €</p>
                          </div>
                        </div>
                      </div>

                      <div class="coll">
                        <div>
                          <img src="assets/robe7.png" class="cardimgtop" alt="...">
                          <div class="cardbody">
                            <p> <b>Ariella</b> <br/> Robe de mariée coupe sirène <p>
                            </div>
                            <div class="hide" *ngIf="isShowInfo7"> <p> Votre article a été ajouté au panier ! </p> </div> 
                            <div *ngIf="!isShowInfo7" class="cardQT">
                              <p>Taille :
                                <select [(ngModel)]="tailleAriella">
                                <option> Small </option>
                                <option selected> Medium </option>
                                  <option> Large </option>
                                </select>

                                <button (click)="ariella()" (click)='isShowInfo7 = !isShowInfo7' type="button">Ajouter au panier</button></p>

                              </div>
                              <div class="cardfooter">
                                <p>Prix total: 2256 €</p>
                              </div>
                            </div>
                          </div>

                          <div class="coll">
                            <div>
                              <img src="assets/robe8.png" class="cardimgtop" alt="...">
                              <div class="cardbody">
                                <p> <b>Bijoux</b> <br/> Robe de mariée coupe princesse <p>
                                </div>
                                <div class="hide" *ngIf="isShowInfo8"> <p> Votre article a été ajouté au panier ! </p> </div> 
                                <div *ngIf="!isShowInfo8" class="cardQT">
                                  <p>Taille :
                                    <select [(ngModel)]="tailleBijoux">
                                    <option> Small </option>
                                    <option selected> Medium </option>
                                      <option> Large </option>
                                    </select>

                                    <button (click)="bijoux()" (click)='isShowInfo8 = !isShowInfo8' type="button">Ajouter au panier</button></p>

                                  </div>
                                  <div class="cardfooter">
                                    <p>Prix total: 1200 €</p>
                                  </div>
                                </div>
                              </div>

                            </div>

              </body>
              <div>
                <app-footer>
                
                </app-footer>
                </div>              

              </html>

