
<!DOCTYPE html>
<html lang=fr dir="ltr">
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>

  <title>Capture</title>
</head>
<body>



    <h1> Nos robes de mariée</h1>

<div id="choix">
  <div class="coll">
    <div>
      <img src="assets/robe1.png" class="cardimgtop" alt="...">
      <div class="cardbody">
        <p> <b>Elsa</b> <br/> Robe de mariée coupe princesse <p>
        </div>
        <div class="cardQT">
          <p>Taille :
            <select>
            <option> Small </option>
            <option selected> Medium </option>
              <option> Large </option>
            </select>

            <button type="button">Ajouter au panier</button></p>

          </div>
          <div class="cardfooter">
            <p>Prix total: 20€</p>
          </div>
        </div>
      </div>

      <div class="coll">
        <div>
          <img src="assets/robe2.png" class="cardimgtop" alt="...">
          <div class="cardbody">
            <p> <b>Esmeralda</b> <br/> Robe de mariée coupe princesse <p>
            </div>
            <div class="cardQT">
              <p>Taille :
                <select>
                <option> Small </option>
                <option selected> Medium </option>
                  <option> Large </option>
                </select>

                <button type="button">Ajouter au panier</button></p>

              </div>
              <div class="cardfooter">
                <p>Prix total: 20€</p>
              </div>
            </div>
          </div>

          <div class="coll">
            <div>
              <img src="assets/robe3.png" class="cardimgtop" alt="...">
              <div class="cardbody">
                <p> <b>Beauté</b> <br/> Robe de mariée coupe princesse <p>
                </div>
                <div class="cardQT">
                  <p>Taille :
                    <select>
                    <option> Small </option>
                    <option selected> Medium </option>
                      <option> Large </option>
                    </select>

                    <button type="button">Ajouter au panier</button></p>

                  </div>
                  <div class="cardfooter">
                    <p>Prix total: 20€</p>
                  </div>
                </div>
              </div>

              <div class="coll">
                <div>
                  <img src="assets/robe4.png" class="cardimgtop" alt="...">
                  <div class="cardbody">
                    <p> <b>Dona</b> <br/> Robe de mariée fluide <p>
                    </div>
                    <div class="cardQT">
                      <p>Taille :
                        <select>
                        <option> Small </option>
                        <option selected> Medium </option>
                          <option> Large </option>
                        </select>

                        <button type="button">Ajouter au panier</button></p>

                      </div>
                      <div class="cardfooter">
                        <p>Prix total: 20€</p>
                      </div>
                    </div>
                  </div>

            </div>

            <div id="choix2">
              <div class="coll">
                <div>
                  <img src="assets/robe5.png" class="cardimgtop" alt="...">
                  <div class="cardbody">
                    <p> <b>Deborah</b> <br/> Robe de mariée ajustée et évasée <p>
                    </div>
                    <div class="cardQT">
                      <p>Taille :
                        <select>
                        <option> Small </option>
                        <option selected> Medium </option>
                          <option> Large </option>
                        </select>

                        <button type="button">Ajouter au panier</button></p>

                      </div>
                      <div class="cardfooter">
                        <p>Prix total: 20€</p>
                      </div>
                    </div>
                  </div>

                  <div class="coll">
                    <div>
                      <img src="assets/robe6.png" class="cardimgtop" alt="...">
                      <div class="cardbody">
                        <p> <b>Delta</b> <br/> Robe de mariée coupe Bohème  <p>
                        </div>
                        <div class="cardQT">
                          <p>Taille :
                            <select>
                            <option> Small </option>
                            <option selected> Medium </option>
                              <option> Large </option>
                            </select>

                            <button type="button">Ajouter au panier</button></p>

                          </div>
                          <div class="cardfooter">
                            <p>Prix total: 20€</p>
                          </div>
                        </div>
                      </div>

                      <div class="coll">
                        <div>
                          <img src="assets/robe7.png" class="cardimgtop" alt="...">
                          <div class="cardbody">
                            <p> <b>Ariella</b> <br/> Robe de mariée coupe sirène <p>
                            </div>
                            <div class="cardQT">
                              <p>Taille :
                                <select>
                                <option> Small </option>
                                <option selected> Medium </option>
                                  <option> Large </option>
                                </select>

                                <button type="button">Ajouter au panier</button></p>

                              </div>
                              <div class="cardfooter">
                                <p>Prix total: 20€</p>
                              </div>
                            </div>
                          </div>

                          <div class="coll">
                            <div>
                              <img src="assets/robe8.png" class="cardimgtop" alt="...">
                              <div class="cardbody">
                                <p> <b>Bijoux</b> <br/> Robe de mariée coupe princesse <p>
                                </div>
                                <div class="cardQT">
                                  <p>Taille :
                                    <select>
                                    <option> Small </option>
                                    <option selected> Medium </option>
                                      <option> Large </option>
                                    </select>

                                    <button type="button">Ajouter au panier</button></p>

                                  </div>
                                  <div class="cardfooter">
                                    <p>Prix total: 20€</p>
                                  </div>
                                </div>
                              </div>

                            </div>

              </body>
              </html>

