



	<body>

	<div class="home">
			<video class="video-slide active" src="assets/vid.mp4" autoplay="autoplay" [muted]="'muted'" ></video>
		</div>



						<div class="formWrapper">
							<div class="card" id="card">
								<div class="card-header">
									<div id="forLogin" class="form-header active" (click)="ngBeforeViewInit()">Se connecter</div>

									<div id="forRegister" class="form-header" (click)="ngAfterViewInit()" >S'inscrire</div>
								</div>
								<div class="card-body" id="formContainer" >
									<form action="" id="loginForm">
										<input type="text" class="form-control" placeholder="@Utilisateur" id="id" name="mail" [(ngModel)]="formConnexion.mail"/>
										<input type="password" class="form-control" placeholder="Mot de passe" id="id" name="password" [(ngModel)]="formConnexion.mdp"/>
										<label for="remember">
											<input type="checkbox" class="form-check" id="remember" />
											Se Souvenir de moi
										</label>
										<button class="formButton"(click)="verif(formConnexion.mail,formConnexion.mdp)">Connexion</button><br/>
										<button class="formButton" routerLink="/accueil" routerLinkActive="active">Retour</button>
									</form>

									<form action="" id="registerForm" class="toggleForm">
										<input type="text" class="form-control" placeholder="Nom..." id="id" name="nom" [(ngModel)]="formConnexion.nom" />
										<input type="text" class="form-control" placeholder="Prénom..." id="id" name="prenom" [(ngModel)]="formConnexion.prenom"/>
										<input type="text" class="form-control" placeholder="@utilisateur..."  id="id" name="mail" [(ngModel)]="formConnexion.mail"/>
										<input type="text" class="form-control" placeholder="Mot de passe..."id="id" name="password" [(ngModel)]="formConnexion.mdp" />
										<input type="text" class="form-control" placeholder="Confirmer mot de passe..."  />
										<label for="remember">
											<input type="checkbox" class="form-check" id="privacy" />
											J'accepte les termes de l'accord
										</label>
										<button class="formButton" (click)="save()">Inscription</button>
									</form>
								</div>
							</div>
						</div>

				

	</body>
